// TODO: Move to a splitted var file
// Test bgColors:
// linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% ); - https://gradienthunt.com/gradient/13685
// linear-gradient(to top, #ffffff 0%, #e9edef 100%)
// radial-gradient( circle farthest-corner at 10% 20%, rgba(0,93,133,1) 0%, rgba(0,181,149,1) 90% )
// linear-gradient( 65.5deg,  rgba(23,205,205,1) -15.1%, rgb(23, 46, 95) 90% )
// radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 1) 0%, rgba(32, 45, 58, 1) 81.3% ) -- Default [2020-05]
// radial-gradient( circle farthest-corner at 10% -5%,  rgba(23,205,205,1) -14.1%, rgb(23, 46, 95) 91% )

// Default Dark Mode
:root {
  --primaryColor: rgba(1, 19, 49, 1);

  --bgColor: linear-gradient(-45deg, rgba(23, 205, 205, 1), rgba(1, 59, 143, 1), rgba(1, 59, 143, 1), rgba(23, 205, 205, 1));
  // linear-gradient(-45deg, rgba(23, 205, 205, 1), rgba(23, 46, 95, 1), rgba(23, 46, 95, 1), rgba(23, 205, 205, 1));
  // linear-gradient(-45deg, rgba(23, 205, 205, 1), rgba(23, 46, 95, 1), rgba(23, 46, 95, 1), rgba(23, 205, 205, 1), rgba(255, 255, 255, 1));

  --defaultBorderColor: rgba(26, 120, 146, 1);

  --scrollBarHandle: var(--defaultBorderColor);
  --scrollbarColor: var(--contentBg);

  // Navbar
  --navbarColor: transparent;

  --navbarBorder: 1px solid var(--defaultBorderColor);

  --navbarIconColor: rgba(255, 255, 255, 1);
  --navbarIconColorAlt: rgba(25, 107, 137, 1);

  --navColor: rgba(255, 255, 255, .7);
  --navColorActive: rgba(255, 255, 255, 1);

  --iconColorHover: rgba(1, 19, 49, 1);

  // Content
  --contentBg: rgba(245, 245, 245, 1);
  --contentColor: rgba(1, 19, 49, 1);

  // Buttons
  --btnColor: rgba(9, 110, 165, 1);
  --btnColorHover: rgba(1, 59, 143, 1);

  --btnPrimaryBorderColor: linear-gradient(-45deg, rgba(23, 205, 205, 1) 0%, rgba(1, 59, 143, 1) 100%);

  --textColor: rgba(1, 19, 49, 1);
  --grayedOut: rgba(1, 19, 49, .7);

  // Same in both themes
  --alertInfo: rgba(40, 143, 235, 1);
  --alertError: rgba(207, 39, 30, 1);
  --alertSuccess: rgba(122, 193, 66, 1);
  --alertWarning: rgba(255, 195, 36, 1);
}
