@media (max-width: 840px) {
  .sidebar {
    flex-direction: row;
    width: 100%;
    max-width: @width;
    height: 40px;
    padding: 0;
    position: sticky;
    text-align: start;

    .avatar {
      display: none;
    }
  }

  .content {
    margin-left: 0;
    width: 100vw;
  }

  .section {
    padding: 0 1vw;
  }
}



